@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* navbar styling */
nav {
  display: flex;
  align-items: center;
  padding: 20px;
  justify-content: space-between;
}
i {
  font-size: 20px;
}
.nav__right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.mySlides {
  display: none;
}
img {
  vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

main {
  width: 100vw;
  height: 600px;
  position: relative;
  overflow: hidden;
}
.slide {
  width: 90vw;
  transition: 1s;
  position: absolute;
}
